body {
  /*background: url(img/bg1.jpg) no-repeat;*/

  font-family: sans-serif;
}


header {
  overflow: hidden;
  position: fixed;
  height: 150px;
  top: 5;
  margin-left: -8px;
  margin-top: -20px;
  width: 100%;
  z-index: 1;
  background:#751525;
}
header h1 {
  background: url(img/logo1.png) no-repeat;
  font-family: sans-serif;
  text-transform: ;
  text-indent: 120px;
  text-shadow: 4px 4px 5px #999;
  font-size: 50px;
  float: left;
  margin: 10px 0 20px 20px
}
header a h1{
  color:#000;
}
.options {
  float: right;
  margin: 16px 100px 0 0;
}
.options li{
  display: inline;
  padding-right: 8px;
}
.options a {
  text-decoration: none;
  font-size: 12px;
  color:white;
  font-family: sans-serif;
}


 
nav {
  margin-top: 70px;
  width: 100%;
  overflow: hidden;
  background-color: #222;
  text-align: center;
  height: 50px;
}
nav li {
  margin-top: -15px;
  padding-top: 15px;
  display: inline;
  padding-right: 15px;
  float: left;
  width: 100px;
  height: 50px;
  color: #eee;
}
nav li:hover {
  background: #555;
  color: #ccc;
  font-size: 18px;
}
nav a {
  color: #eee;
  text-decoration: none;
  font-family: sans-serif;
}


.content{

    width: 100%;
    margin-top: 110px;
    background-color: #fff;
    
    float: right;
    min-height: 100%;
}

.f1{
   background-color:black;

   
   color: grey;
   
    clear: both;
    width:100%;
    height:150px;
  text-align:center;
  vertical-align:middle;
    font-size:18px;
    padding-right: 20px;
    margin-top: 30px;
    margin-left: -9px;
}
.f2{
   background-color:#8F081E  ;
   
   color:white;
   font-family:arial;
   
    clear: both;
    width:100%;
    height:70px;
    text-align: left;
    margin-left: -9px;
    text-indent: 30px;
    vertical-align:middle;
    font-size:12px;
    padding-right: 20px;
}
.f2 li{
  display: inline;
  font-size: 10px;
  text-align: center;
  
  padding: 0 20px;
  float: right;
}
.f2 li a {
  text-decoration: none;
  font-size: 10px;
  font-family: arial;
  color: white;
  
}

.grid_4{
  height: 300px;
}

 